# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Makefile
TriangleManipulatorExecutable
*.poly

**/.env
**/out
**/CMakeCache.txt
**/CMakeFiles/
**/.settings
**.vs
**/build/
**/Makefile
**/.vscode
**/cmake_install.cmake
**/.cmake
**.ele
